* {
  box-sizing: border-box;
}

body {
  background-color: #d3c896;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b4a97f;
  color: #504515;
  box-shadow: 1px 3px 3px rgb(103, 53, 22);
}

.logo {
  font-weight: bold;
  font-size: 2rem;
}

.nav-links {
  position: absolute;
  list-style-type: none;
  justify-self: flex-end;
  right: 0;
}

.nav-links li a {
  padding-right: 1rem;
}

a {
  color: #504515;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: rgb(77, 37, 13);
  text-decoration: underline;
}

.search-field {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  gap: 1rem;
}

.search-field input {
  width: 40%;
  height: 3rem;
  border: none;
  border-radius: 50px;
  box-shadow: 1px 3px 3px rgb(103, 53, 22);
  text-align: center;
}

.search-field button {
  height: 3rem;
  border: none;
  border-radius: 12px;
  background-color: rgb(103, 53, 22);
  color: white;
  font-weight: bold;
  letter-spacing: .2rem;
  padding: 0 1rem;
}

.results-container {
  display: flex;
  height: 100vh;
  align-items: center;
}

.recipe-card {
  border: 1px solid #504515;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  color: #504515;
  padding: 1rem;
  height: 50vh;
}

.recipe-img {
  max-width: 90%;
}

.recipe-title {
  font-weight: bold;
}

.recipe-steps {
  justify-self: end;
}

@media screen and (max-width: 900px){
  
}